.navbar {
  width: 100%;
  margin-bottom: 0;
  
  background: rgba(73,164,40,0.99);
  background: -moz-linear-gradient(left, rgba(73,164,40,0.99) 0%, rgba(80,182,43,0.99) 21%, rgba(73,164,40,0.99) 45%, rgba(80,182,43,1) 70%, rgba(73,164,40,1) 91%, rgba(80,182,43,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,164,40,0.99)), color-stop(21%, rgba(80,182,43,0.99)), color-stop(45%, rgba(73,164,40,0.99)), color-stop(70%, rgba(80,182,43,1)), color-stop(91%, rgba(73,164,40,1)), color-stop(100%, rgba(80,182,43,1)));
  background: -webkit-linear-gradient(left, rgba(73,164,40,0.99) 0%, rgba(80,182,43,0.99) 21%, rgba(73,164,40,0.99) 45%, rgba(80,182,43,1) 70%, rgba(73,164,40,1) 91%, rgba(80,182,43,1) 100%);
  background: -o-linear-gradient(left, rgba(73,164,40,0.99) 0%, rgba(80,182,43,0.99) 21%, rgba(73,164,40,0.99) 45%, rgba(80,182,43,1) 70%, rgba(73,164,40,1) 91%, rgba(80,182,43,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,164,40,0.99) 0%, rgba(80,182,43,0.99) 21%, rgba(73,164,40,0.99) 45%, rgba(80,182,43,1) 70%, rgba(73,164,40,1) 91%, rgba(80,182,43,1) 100%);
  background: linear-gradient(to right, rgba(73,164,40,0.99) 0%, rgba(80,182,43,0.99) 21%, rgba(73,164,40,0.99) 45%, rgba(80,182,43,1) 70%, rgba(73,164,40,1) 91%, rgba(80,182,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a428', endColorstr='#50b62b', GradientType=1 );
}
a, .intro-description{
  font-family: "Ubuntu", sans-serif, Arial;
  font-weight: 300;
}
a {
  color: white;
}
.nav-menu-text {
  font-family: "Oswald", "Ubuntu",sans-serif, Arial;
  text-transform: uppercase;
} 
.contact-bar {
  color: #FFF;
  width: auto;
  /*height: 30px;*/
  height:auto;
  margin: 0;
  background: rgba(17,17,17,1);
  background: -moz-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 41%, rgba(17,17,17,1) 58%, rgba(43,43,43,1) 70%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(17,17,17,1)), color-stop(25%, rgba(43,43,43,1)), color-stop(41%, rgba(28,28,28,1)), color-stop(58%, rgba(17,17,17,1)), color-stop(70%, rgba(43,43,43,1)), color-stop(85%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 41%, rgba(17,17,17,1) 58%, rgba(43,43,43,1) 70%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 41%, rgba(17,17,17,1) 58%, rgba(43,43,43,1) 70%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 41%, rgba(17,17,17,1) 58%, rgba(43,43,43,1) 70%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to right, rgba(17,17,17,1) 0%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 41%, rgba(17,17,17,1) 58%, rgba(43,43,43,1) 70%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#131313', GradientType=1 );
}
.contact-number{
  font-family: "Ubuntu", sans-serif, Arial;
}
.contact-number .fa-phone-square, .contact-number .fa-envelope{
  padding-right: 10px;
}
.tel-number {
  text-align: right;
} 
.mobile-number {
  text-align: center;
}
.email-address {
  text-align: left;
} 
/* remove the dotted outline from the active menu item */
.dropdown a{
  outline: none;
}
h1 {
  font-family: "Ubuntu", sans-serif, Arial;
  font-size: 60px;
}

h2.sub-intro-text {
  font-family: "Ubuntu", sans-serif, Arial;
  font-weight: 300;
  text-transform: none;
  color: #FFFFFF;

}
.jumbotron {
  /*background-color: #FFFFFF;*/
  background-image: url(../images/electronics1280.jpg);
  text-align: center;
  color: #FFFFFF;
  height: 300px;
  background-repeat: no-repeat;
}

/* creates triangle in the jumbotron*/
/*.jumbotron:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  /*position: relative;
  width: 0;
  margin-left: 50%;
  margin-top: 40px;
  bottom: -15px;
  border-width: 10px 10px 0 ;
  border-style:solid;
  border-color: #FFFFFF transparent;
  }*/

  h1.company-name {
    color: #69B52B;
  }
  small.place {
    color: #FFFFFF;
  }
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
display: flex;
align-items: center;
}
.thumbnail-gallery{
  margin-top: 25px;
}

h6{
  letter-spacing: 3px;
  font-size: 14px;
}
.contact-number h6{
  letter-spacing: 1px;
  font-size: 12px;
}
.img-responsive {
  display: block;
  height:auto;
  max-width: 100%;
}
/* thumbnail container settings*/
.thumbnail-gallery .container {
  max-width: 100%;
  height: auto;
  max-height: 220px;
  overflow: hidden;
}

.thumbnail-gallery {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
} 
.imgdiv.container{
  width: 100%;
  height: 100%;
  overflow: hidden;  
  background-color: #FFF;
}

/*settings for img-category names*/
.category {
  /*padding-top: 5px;*/
  border-bottom: 2px solid #aaaaaa;
  /*margin-top: 15px;*/
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif, Arial;
  color: black;
  /*background-color: #F5F5F5;*/
}

.category:hover{
  padding-bottom: 2px;
  font-weight: 700;
  border-bottom: 4px solid #434343;
}

.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  border: none;
  overflow: hidden;
}

fa {
  font-family: "Font Awesome", sans-serif, Arial;
} 
/*sales and service section*/

.sales-heading, .accessory-heading, .services-heading, .locateus-heading, .clientele-heading,
.testimonial-heading {
  font-family: "Oswald", sans-serif, Arial;
  text-transform: uppercase;
  text-align: center;
  color: #E03408;
  letter-spacing: 3px;
}
.sales-heading{
  padding-top: 10px;
}

/*css for accessory heading*/
.accessory-heading, .services-heading, .clientele-heading, .testimonial-heading {
  padding-top: 30px;
}
.locateus-heading {
  padding-top: 20px;
  padding-bottom: 10px;
} 
.accessories{
  background-color: #eee;

}
.locate-us {
  background-color: #212121;
} 

/*css for the metro section*/

.metro-accessories {
  margin-top: 40px;
}
.metro-layout {
  text-align: center;
  height: 420px;
}
.metro-layout .row {
  height: 120px;
} 
.firstrow-fcell, .thirdrow-tcell {
  height: 100%;
  /*background-color: #F5F5F5;*/
  color: #69B52B;
  border: .25px solid #ccc;
  border-right: none;
  border-bottom: none;
}
.firstrow-scell, .thirdrow-fcell {
  height: 100%;
  /*background-color: #F5F5F5;*/
  color: #E03408;
  border: .25px solid #ccc;
  border-right: none;
  border-bottom: none;
}
.firstrow-tcell, .secondrow-fcell {
  height: 100%;
  /*background-color: #F5F5F5;*/
  color: #212121;
  border: .25px solid #ccc;
  border-right: none;
  border-bottom: none;
}
.secondrow-scell {
  height: 100%;
  /*background-color: #F5F5F5;*/
  color: #69B52B;
  border: .25px solid #ccc;
  border-right: none;
  border-bottom: none;
}

.secondrow-tcell, .thirdrow-scell {
  height: 100%;
  /*background-color: #F5F5F5;*/
  color: #212121;
  border: .25px solid #ccc;
  border-right: none;
  border-bottom: none;
}

.firstrow-tcell, .secondrow-tcell, .thirdrow-tcell {
  border-right: 1px solid #ccc;
}
.thirdrow-fcell, .thirdrow-scell, .thirdrow-tcell {
  border-bottom: 1px solid #ccc;
} 

.firstrow-fcell > i , .firstrow-scell > i, .firstrow-tcell > i, 
.secondrow-fcell > i,.secondrow-scell > i,.secondrow-tcell > i,
.thirdrow-fcell > i, .thirdrow-scell > i,.thirdrow-tcell > i {
  margin-top: 15%;
} 
.firstrow-fcell:hover, .firstrow-scell:hover,.firstrow-tcell:hover,
.secondrow-fcell:hover, .secondrow-scell:hover,.secondrow-tcell:hover,
.thirdrow-fcell:hover, .thirdrow-scell:hover,.thirdrow-tcell:hover {
  background-color: #ffffff;
}
.metro-text {
  margin-left: 20px;
  font-weight: 300;
  font-size: 3em;
  padding-top: auto;
  color: #212121;
}
.metro-text-area h1{
  /*background-color: red;*/
  padding-top: 5%;
} 
.text-computer, .text-electronic{
  font-weight: 400;
} 
.contact-accessories {
  margin-left: 20px;
  margin-top: 20px;
}

.contact-no, .contact-no-1{
  font-family: "Ubuntu", sans-serif, Arial;
  font-weight: 300;
  font-size: 1.5em;
  color: #ffffff;
  padding-top: -20px;
}
.contact-no-1 {
  padding-left: 50px;
  
}
.contact-no {
  padding-left: 20px;
}
.btn-contact-accessories {
  margin-left: 20px;
  margin-top: 20px;
} 
.btn-success {
  background-color: green;
} 
.btn-success:hover {
  /*background-color: #69B52B;*/
}
/*css for services section*/
.services {
  background-image: url(../images/services1280.jpg);
  background-repeat: no-repeat;
  height: 500px;
} 
.clientele {
  background-image: url(../images/clients_1280.jpeg);
  background-repeat: no-repeat;
  height: 500px;
} 
.service-text-layout, .service-image-layout {
  margin-top: 20px;
  border-left: 5px solid green;
  /*background-color: rgba(0,0,0,.3);*/
}

.clientele-text-layout {
  width: 100%;
  }
  .service-description {
    font-size: 3em;
    font-weight: 300;
    color: #FFFFFF;
    padding-left: 20px;
    padding-bottom: 20px;
  }  
  .service-sub-description {
    font-family: "Ubuntu", sans-serif, Arial;
    font-weight: 300;
    color: #ccc;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-left: 2px solid red;
  }
  .service-image-layout {
    /*background-color: rgba(0,0,0,.4); */
    font-family: "Ubuntu", sans-serif, Arial;
    font-weight: 300;
    color: #ccc;
  }
  .platform-text {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #E03408;
    padding-left: 50px;
  }
  .fa.fa-windows {
    color:#3366FF;
    padding-left: 100px;
    /*border: 1px solid red;*/
  }
  .fa.fa-android {
    color:#33CC33;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .fa.fa-linux {
    color: #FFFF00;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .fa.fa-apple {
    color: #E6E6E6;
    padding-left: 100px;
    padding-bottom: 50px;
  }
  .fa.fa-user {
    padding-left: 50px;
    padding-right: 50px;
    color: #212121;
  }
  .testimonials {
    background-color: #eee;
    height: auto;
  }
  .clientele-text-layout {
    padding-left : 50px;
    font-family: "Oswald",sans-serif, Arial;
    
  }
  .testimonial-text-layout {
    width: 100%;
  }
  .blockquote-text-1, .blockquote-text-2 {
    font-family: "Oswald", "Ubuntu", sans-serif, Arial;
    color: #212121;
    border-color: #212121;
  } 
  .customer-sign {
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif, Arial;
    color: #E03408;
  } 
  /* for map section*/
  #map {
    width: auto;
    height: 500px;
  }
  .footer {
    padding-top: 25px;
    font-family: "Ubuntu", sans-serif, Arial;
    /*background-color: green;*/
    color: white;
    height: 220px;
    width: 100%;
    background: rgba(18,18,18,1);
    background: -moz-linear-gradient(left, rgba(18,18,18,1) 0%, rgba(15,15,15,1) 22%, rgba(15,15,15,1) 43%, rgba(18,18,18,1) 58%, rgba(15,15,15,1) 70%, rgba(28,28,28,1) 85%, rgba(18,18,18,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18,18,18,1)), color-stop(22%, rgba(15,15,15,1)), color-stop(43%, rgba(15,15,15,1)), color-stop(58%, rgba(18,18,18,1)), color-stop(70%, rgba(15,15,15,1)), color-stop(85%, rgba(28,28,28,1)), color-stop(100%, rgba(18,18,18,1)));
    background: -webkit-linear-gradient(left, rgba(18,18,18,1) 0%, rgba(15,15,15,1) 22%, rgba(15,15,15,1) 43%, rgba(18,18,18,1) 58%, rgba(15,15,15,1) 70%, rgba(28,28,28,1) 85%, rgba(18,18,18,1) 100%);
    background: -o-linear-gradient(left, rgba(18,18,18,1) 0%, rgba(15,15,15,1) 22%, rgba(15,15,15,1) 43%, rgba(18,18,18,1) 58%, rgba(15,15,15,1) 70%, rgba(28,28,28,1) 85%, rgba(18,18,18,1) 100%);
    background: -ms-linear-gradient(left, rgba(18,18,18,1) 0%, rgba(15,15,15,1) 22%, rgba(15,15,15,1) 43%, rgba(18,18,18,1) 58%, rgba(15,15,15,1) 70%, rgba(28,28,28,1) 85%, rgba(18,18,18,1) 100%);
    background: linear-gradient(to right, rgba(18,18,18,1) 0%, rgba(15,15,15,1) 22%, rgba(15,15,15,1) 43%, rgba(18,18,18,1) 58%, rgba(15,15,15,1) 70%, rgba(28,28,28,1) 85%, rgba(18,18,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#121212', GradientType=1 );
  } 
  .address {
    /*border-right: 1px solid #fff;*/
    height: 100px;
  }
  .contacts {
    /*border-right: 1px solid #fff ;*/
    height: 100px;
    
  }
  .address, .get-in-touch-heading, .get-in-touch, .stay-connected {
    font-family: "Oswald", "Ubuntu", sans-serif, Arial;
    color: #ddd;
  } 
  .address-heading, .stay-connected, .get-in-touch-heading {
    color: #E03408
  } 
  .get-in-touch h6 {
    letter-spacing: 0px;
  } 

  .contacts .fa-phone-square{
    padding-right: 20px;
  }
  .contacts .fa-envelope {
   padding-right: 12px; 
 } 
 .facebook {
  padding: 20px 20px 0 0;
} 

.twitter, .google-plus {
  padding: 20px 20px 0 20px;
}
.copyright {
  padding-top: 30px;
  padding-left: 15px;
}
.copyright-text {
  font-family: "Ubuntu", sans-serif, Arial;
  letter-spacing: 0px;
  font-size: .9em;
} 
.fa-copyright {
  padding-right: 10px;  
}
.social-media-icons {
  padding-top: 20px;
} 

/*top button css*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0,0,0,0.9) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}


/* for mobile phones */
@media (max-width: 480px) { 
  h1 {
    margin-top: 0;
    font-size: 25px;
  }
  h2 {
    font-size:20px;
  }
  h4{
    padding-bottom: 20px;
  }
  .tel-number, .mobile-number, .email-address {
    text-align: left;
  } 
  .jumbotron {
    height: auto;
    background-image: url(../images/tweed_@2X.png);
    background-repeat: repeat;
  } 
  /* make image responsive */
  .img-responsive {
    display: block;
    height:auto;
    max-width: 75%;
  }
  .navbar-brand, .navbar-nav{
    margin-left: 20px;
  }
  .accessories {
    height: auto;
  }
  .metro-second-row, .metro-third-row {
    margin-top: -30px;
  }
  .metro-first-row .fa, .metro-second-row .fa, .metro-third-row .fa{
    font-size:3em; 
    text-align:center;
    padding-top:20px;
    margin-top: auto;
  } 
  .firstrow-fcell , .firstrow-scell, .firstrow-tcell,
  .secondrow-fcell , .secondrow-scell, .secondrow-tcell,
  .thirdrow-fcell , .thirdrow-scell, .thirdrow-tcell{
    height:75%;
  } 
  .metro-text{
    font-size: 25px;
    margin-top: none;
    padding-top:none;
  }
  .metro-text-area {
    margin-top: -100px;
    padding-top:none;
  }
  .services {
    margin-top: 20px;
    background-image: none;
    background-color: #212121;
    height: 850px;
  }
  .service-text-layout, .service-image-layout {
    background-color: none;
  }
  .service-description{
    font-size:25px;
    padding-top: 20px;
  }
  .fa.fa-windows, .fa.fa-apple, .fa.fa-linux, .fa.fa-android, .platform-text {
    padding-left: 25px;
  }
  .testimonials {
    height: 900px;
  }
  .clientele {
    background: none;
    background-color: #fff;
    height: auto;
  }
  .clientele-text-layout {
    padding-left: 0px;
    background: none;
    /*width: 100%;*/
    width: auto;
    
  }
  .fa.fa-user {
    padding-left: 10px;
    padding-right: 20px;
  }
  .footer {
    height: auto;
  } 
  .contacts, .stay-connected, .social-media{
    padding-top: 50px;
  } 
  .clientele-text {
    padding-top: 2px;
    font-size: 13px;
  }
  .cd-top {
    height: 30px;
    width: 30px;
  }
  .tablet-list, .cctv-list, .servers-list, .laptop-list, .desktop-list, .mobile-list {
   margin-left: -20px;

  }
}

/* for wide monitors */
@media (min-width: 1360px) { 
  h1 {
    margin-top: 0;
    padding-top: 100px;
    font-size: 60px;
  }
  h2 {
    font-size:30px;
  }
  h4{
    padding-bottom: 20px;
  }
  .jumbotron {
    height: 500px;
    background-image: url(../images/electronics1920.jpg);
    /*background-repeat: no-repeat;*/
    
  } 
  /* make image responsive */
  .img-responsive {
    display: block;
    height:auto;
    max-width: 75%;
  }
  .navbar-brand, .navbar-nav{
    margin-left: 20px;
  }
  .services {
    background-image:url(../images/services1920.jpg);
    background-repeat: no-repeat;
    height: 600px;
  } 
  .clientele {
    background-image: url(../images/clients_1920.jpeg);
    background-repeat: no-repeat;
    height: 600px;
  } 
  .platform-text {
    font-weight: 300;
    padding-top: 0px;
  }
  .clientele-text-layout {
    padding-left : 300px;
    /*max-width: 1200px;*/
  }
  /*.fa.fa-windows, .fa.fa-apple, .fa.fa-linux, .fa.fa-android {
    padding-left: 25px;
  } */
   .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
